@using EduGestor.Models.Enums
@model EduGestor.Models.ViewModels.RegistrationFormViewModel

@{
    ViewData["Title"] = "Create Registration";
}

<h2>@ViewData["Title"]</h2>

<hr />

<div class="row">

    <div class="col-md-6">

        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly"
                 class="text-danger">
            </div>

            <div class="form-group mb-3">

                <label asp-for="Registration.Date"
                       class="control-label">
                </label>

                <input asp-for="Registration.Date"
                       class="form-control" />

                <span asp-validation-for="Registration.Date"
                      class="text-danger">
                </span>

            </div>
            
            <div class="form-group mb-3">
                <label asp-for="Registration.Status"
                       class="control-label">
                </label>

                <select asp-for="Registration.Status"
                        asp-items="Html.GetEnumSelectList<RegistrationStatus>()"
                        class="form-control">
                </select>

                <span asp-validation-for="Registration.Status"
                      class="text-danger">
                </span>
            </div>

            <div class="form-group mb-3">

                <label class="control-label">
                    Student
                </label>

                <select asp-for="Registration.StudentId"
                        asp-items="@(new SelectList(Model.Students, "Id", "Name"))"
                        class="form-select">

                    <option value="">
                        No Student
                    </option>

                </select>

            </div>

            <div class="form-group mb-3">

                <label class="control-label">
                    Student Class
                </label>

                <select asp-for="Registration.StudentClassId"
                        asp-items="@(new SelectList(Model.StudentClasses, "Id", "Code"))"
                        class="form-select">

                    <option value="">
                        Select a class
                    </option>

                </select>

                <span asp-validation-for="Registration.StudentClassId"
                      class="text-danger">
                </span>

            </div>

            <div class="form-group">

                <input type="submit"
                       value="Create"
                       class="btn btn-primary" /> |

                <a asp-action="Index"
                   class="btn btn-secondary">
                    Cancel
                </a>

            </div>

        </form>

    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
