@model EduGestor.Models.Discipline
@using EduGestor.Extensions

@{
    ViewData["Title"] = "Discipline Details";
}

<h2 class="fw-bold mb-4">
    @ViewData["Title"]
</h2>

<div class="card border-0 shadow-sm rounded-4">

    <div class="card-body">

        <dl class="row">

            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9">@Model.Name</dd>

            <dt class="col-sm-3">Workload</dt>
            <dd class="col-sm-9">@Model.Workload</dd>

        </dl>

    </div>

</div>

<div class="mt-4 d-flex gap-2">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary" >Back to List</a>
</div>
